<html>

	<head>
		<title>Cartoon Caption Contest</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="scripts/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	    <script src="assets/app.js"></script>
	</head>

	<body  ng-app="captionApp">
		<div ng-controller="MainController as ctrl">
			<h1 ng-bind="ctrl.working">
				Not So Nacho
			</h1>

			<input type="number"
				   ng-model="ctrl.idx">

			<button ng-click="ctrl.pageUp()">Next Image >></button>

		<div>

			<img ng-src="{{ctrl.images[ctrl.idx].location}}" 
		 	 style="max-width: 375px">
		 	 <div ng-repeat="caption in ctrl.images[ctrl.idx].captions">
		 	 	<span ng-bind="caption.text"></span>
		 	 	{{ caption.votes }}
		 	 	<button ng-click="ctrl.vote($index)"
		 	 			ng-hide="caption.hasVoted">
		 	 			up vote
		 	 	</button>
		 	 	<br><br>
		 	 </div>

		 	 <div>
				<form>
					<input type="text"
						   ng-model="ctrl.newCaption">
					<input type="submit"
						   value="add"
						   ng-click="ctrl.add(ctrl.images[ctrl.idx]._id)">
				</form>
			</div>

		</div>

		<pre>
			{{ ctrl.images | json }}
		</pre>

		</div>
	</body>
</html>