<html>

	<head>
		<title>Cartoon Caption Contest</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="scripts/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	    <script src="assets/app.js"></script>
	</head>

	<body  ng-app="captionApp">
		<div ng-controller="MainController as ctrl">
			<h1 ng-bind="ctrl.working">
				Not So Nacho
			</h1>

			<!-- flip through word options -->
			<div>
				<h3>
					<span>
						Be 
					</span>
					<span id="flipper">
						Special
					</span>
				</h3>
			</div>
			<!-- function to cycle through words -->
			<script type="text/javascript">
				var wordChoices = [
					"Coolio",
					"Awesome Sause",
					"Smelly",
					"for Goober",
					"Hot Stuff!",
					"Bad to the Bone"
				];

				function shuffleArray(array) {
					for ( i = array.length - 1; i > 0; i-- ) {
						var j = Math.floor(Math.random() * ( i * 1));
						var temp = array[i];
						array[i] = array[j];
						array[j] = temp;
					}
					return array;
				}

				function wordFlipper() {
					document.getElementById("flipper").innerHTML = shuffledWords[i];
					i++;

					if( i < shuffledWords.length ) {
						setTimeout( wordFlipper, 300 );
					}
				}

				shuffledWords = shuffleArray(wordChoices);
				var i = 0;
				wordFlipper();
				
			</script>

			<!-- <input type="number"
				   ng-model="ctrl.idx">

			<button ng-click="ctrl.pageUp()">Next Image >></button> -->

		<div>

			<img ng-src="{{ctrl.images[ctrl.idx].location}}" 
		 	 style="max-width: 375px">
		 	 <div ng-repeat="caption in ctrl.images[ctrl.idx].captions">
		 	 	<span ng-bind="caption.text"></span>
		 	 	{{ caption.votes }}
		 	 	<button ng-click="ctrl.vote($index)"
		 	 			ng-hide="caption.hasVoted">
		 	 			up vote
		 	 	</button>
		 	 	<br><br>
		 	 </div>

		 	 <div>
				<form>
					<input type="text"
						   ng-model="ctrl.newCaption">
					<input type="submit"
						   value="add"
						   ng-click="ctrl.add(ctrl.images[ctrl.idx]._id)">
				</form>
			</div>

		</div>

		<pre>
			{{ ctrl.images | json }}
		</pre>

		</div>
	</body>
</html>